@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC45Regular.eot");
  src: url("../fonts/CoreSansC45Regular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/CoreSansC45Regular.woff") format("woff"),
  url("../fonts/CoreSansC45Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC55Medium.eot");
  src: url("../fonts/CoreSansC55Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/CoreSansC55Medium.woff") format("woff"),
  url("../fonts/CoreSansC55Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC65Bold.eot");
  src: url("../fonts/CoreSansC65Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/CoreSansC65Bold.woff") format("woff"),
  url("../fonts/CoreSansC65Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}