$mainFont: 'Core Sans C', sans-serif;
$mainColor: #ffffff;
$mainBackgroundColor: #ffffff;
@import "adaptive";

.transition_disabled
{
  animation: none !important;
}

body{
  background: $mainBackgroundColor;
  font-family: $mainFont;
  color: $mainColor;
  font-weight: 400;
  font-size: 16px;
  overflow-y: visible;
}

body.overflow-hidden{
  overflow-y: hidden;
}

ul{
  padding: 0;
  margin: 0;
}

.transition_disabled{
  animation: none !important;
}

.background-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  opacity: 0;
  transition: 2.3s;
}

.background-video-active{
  z-index: -1;
  opacity: 1;
  right: 0;
  animation: changeVideo 2.4s;
  filter: brightness(0.75);
}

.background-image{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background: url("../images/background-image.jpg") no-repeat center center / cover;
  filter: brightness(0.65);
  display: none;
}

.wrap{
  max-width: 1680px;
  min-width: 320px;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

    @include medium{
      padding: 0 28px;
    }

    @include x-small{
      padding: 0 20px;
    }
}

h1{
  font-size: 40px;
  line-height: 47px;
  font-weight: 400;

      @include medium{
        font-size: 32px;
        line-height: 42px;
      }

      @include small{
        font-size: 26px;
        line-height: 31px;
      }
}

.button{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 7px;
  text-decoration: none;
  display: inline-block;
}

@keyframes changeVideo {
  0%{
    right: -150%;
  }

  100%{
    right: 0;
  }
}